<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CashManagement"
        tools:targetApi="31">

        <!--Payment Processing - I.U.Wickramasuriya (IT19086958)-->
        <activity
            android:name=".PaymentProcessingSummary"
            android:exported="false" />
        <activity
            android:name=".PaymentUpdate"
            android:exported="false" />
        <activity
            android:name=".PaymentProcess"
            android:exported="false" />
        <activity
            android:name=".ReviewPayment"
            android:exported="false" />
        <activity
            android:name=".MainActivityCashProcessing"
            android:exported="false" />

        <!--End of Payment Processing-->



        <activity
            android:name=".EmployeeDetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_employee_details"
            android:theme="@style/Theme.CashManagement.NoActionBar" />
        <activity
            android:name=".FetchingActivity"
            android:exported="false"
            android:label="@string/title_activity_fetching"
            android:theme="@style/Theme.CashManagement.NoActionBar" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.CashManagement.NoActionBar" />
        <activity
            android:name=".InsertionActivity"
            android:exported="false"
            android:label="@string/title_activity_insertion"
            android:theme="@style/Theme.CashManagement.NoActionBar" />
        <activity
            android:name=".OverdueInvoicesActivity"
            android:exported="false" />
        <activity
            android:name=".OutstandClientActivity"
            android:exported="false" />
        <activity
            android:name=".ChequeCashActivity"
            android:exported="false" />
        <activity
            android:name=".collectionsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>